<!doctype html >
<html>
        <head>
                <title>index</title>
                <meta charset='utf-8'>
        </head>
        <body>
                <p>Hello World<p/>
                   <form action="" method="get" >
                         <input type="text" name="gps" >
                         <input type="submit" name="gps_add" value="enter">
                 </form>
		<table border="1">
			<tr>
				<td>nfc</td>
			</tr>
			{% for i in nfcs  %}
				<tr>
					<td>{{i.nfc}} </td>
				</tr>
			{% endfor %}
		</table>
                <form action="" method="GET" >
			<input type="text" name="nfc">
			<input type=submit name="nfc_add" value="nfc">
		</form>
			<p>{{check}}</p>
        </body>
</html>
